

.mainquoteContainer{
    width: 100%;
    /* border: 2px solid rgb(4, 4, 4); */
    border-radius: 10px;
    margin-bottom: 30px;
    margin-top: 100px;
}

.innerquoteContainer{
    width: 95%;
    border: 2px solid  rgb(202, 196, 196);
    border-radius: 10px;
    margin: 5px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 2px 2px 7px 2px rgb(202, 196, 196);

}